<!DOCTYPE html>
<html>

<head>
	<% include partials/head %>
</head>

<body>
	<% include partials/menu %>
	<section class="section">
		<div class="container">
			<form action="/" enctype="multipart/form-data" method="post">
				<div class="field">
					<div class="control">
						<input class="input is-medium" type="text" name="name" placeholder="Your Name">
					</div>
				</div>
				<div class="field">
					<div class="control">
						<input class="input is-medium" type="email" name="email" placeholder="Email Address">
					</div>
				</div>
				<div class="field">
					<div class="control">
						<input class="input is-medium" type="file" name="file-to-upload">
					</div>
				</div>
				<div class="content is-medium">
					<h2>£25</h2>
				</div>
				<div class="control">
					<button class="button is-primary is-medium">Continue to payment</button>
				</div>
			</form>
		</div>
	</section>
</body>

</html>
<% include partials/script %>
